body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo {
    position: absolute;
    top: 10px; /* Adjust top position as needed */
    left: 20px; /* Adjust right position as needed */
}

.logo img {
    height: 85px; /* Adjust logo size as needed */
    width: 130px; /* Maintain aspect ratio */
}

.container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    height: 60%;
    max-width: 300px;
}

header h1 {
    margin:0;
    font-size: 2em;
    color: #000000;
margin-right: 0px;
}



input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 9px;
    margin-top: 70px;
   background-color: #ccc;
}
section p{
    font-style:oblique;
    color: #000;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #555;
}

p {
    margin: 10px 0;
    color: #555;
    margin-bottom:  100px; ;
}